{% extends "Padre.html" %}
{% load static %}

{% block Titulos_iniciales %}
<span class="site-heading-upper text-primary mb-3">BLOG - CAFÉ</span>
<span class="site-heading-lower">Registro de nuevos usuarios</span>
{% endblock %}

{% block imagen %}
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/registro.jpg' %}" alt="..." />
{% endblock %}


{% block Titulos_texto %}
<h2 class="section-heading mb-4">
    <h3> {{ mensaje }}</h3>

    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="CREAR USUARIO">
</h2>
{% endblock %}

{% block Titulos_parrofofinalpagina %}
<h2 class="section-heading mb-4">
    <span class="section-heading-upper">Saber mas sobre-....</span>
    <span class="section-heading-lower">ti</span>
</h2>
<p class="mb-0">Parrado final </p>
{% endblock %}

{% block Autor_fecha %}
    <div class="container"><p class="m-0 small">Autor: Norwys León - Fecha: Enero 2022</p></div>
{% endblock %}